.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: #282932;
  box-sizing: border-box;

  input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: white;
      opacity: 30%;
    }
  }

  button {
    background: none;
    padding: .8rem;

    svg {
      color: var(--primary);
    }
  }
}
